{% extends 'base.html.twig' %}

{% block title %}Oras{% endblock %}

{% block body %}
    <h2>Oras</h2>

    {% if success %}
        Temperatūra: {{ temp }}
    {% else %}
        Įvyko klaida
    {% endif %}
{% endblock %}
